$black: black;
$white: white;
$lightgray:#e1dcd9; 
$darkgray: #414143; 
$lightbrown:#8e8781;
$brown:#a67f78;
$darkbrown:#5f4743;
$lightpink: rgb(223, 166, 175);
$pink: rgb(206, 113, 129);
$darkpink: #77004b;
$skin:#eea89a;
$pinky: rgb(255, 48, 127);